div {
	outline: 1px solid #a8f0;
}

textarea, input {
	width: 100%;
}

button {
	width: 100%;
}

.reset-button {
	background-color: grey !important;
	border: 1px solid grey !important;
}

.reset-button:hover {
	background-color: #666 !important;
}

.box {
	background-image: linear-gradient(-20deg, #faf4, #faa8, #aaff);
  padding: 0.75em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
}

.warning {
  color: orange;
  font-weight: bold;
}

.danger {
  color: crimson;
  font-weight: bold;
}

.total {
  font-weight: bold;
  font-size: 2em;
}

.calculateBtn {
	color: black !important;
}
